<div class="nai-navbar">
	<div class="title">
		<h2> <i class="icon icon-users nai-nav-icon nai-nav-title-icon"></i> فروش‌ها </h2>
		<p> در این صفحه زیر لیست فروش‌های سیستم را مشاهده می‌کنید. </p>
	</div>
	<div class="nai-nav-icon left glyphicon glyphicon-chevron-left" ng-click="go('/main')"></div>
	<button class="nai-nav-icon left glyphicon glyphicon-search" ng-show="!searched" ng-click="searchbar = true"></button>
	<button class="nai-nav-icon left glyphicon glyphicon-remove" ng-show="searched" ng-click="search('')"></button>
	<div class="nai-nav-icon left glyphicon glyphicon-plus" ng-show="!searched" ng-click="go('/sales/new')"></div>
</div>
<searchbar open="searchbar" callback="search($text)"></searchbar>
<label class="col-xs-12 list-group-item text-info" ng-show="searched"> بر اساس جست‌وجوی کلمه <span class="text-danger">{{searchText}}</span>، {{items.length}} مورد یافت شد: </label>	
<ul class="list-group">
	<li class="list-group-item col-xs-12" ng-repeat="item in items" ng-click="go('/sales/{{item.id}}')">
		<div class="col-xs-6">
			<div class="col-xs-12">
				<div class="col-xs-3">
					<label class="text-danger">کد فاکتور</label>
				</div>
				<div class="col-xs-9">
					{{ calcFactorCode(item) }}
				</div>
			</div>
			<div class="col-xs-12">
				<div class="col-xs-3">
					<label class="text-primary">مشتری</label>
				</div>
				<div class="col-xs-9">
					{{ item.customer_name }}
				</div>
			</div>
			<div class="col-xs-12">
				<div class="col-xs-3">
					<label class="text-primary">هزینه</label>
				</div>
				<div class="col-xs-9">
					{{ displayPrice( item.price_count) }} <i>ریال</i>
				</div>
			</div>
			<div class="col-xs-12">
				<div class="col-xs-3">
					<label class="text-primary">تاریخ</label>
				</div>
				<div class="col-xs-9">
					{{ item.date }}
				</div>
			</div>
		</div>
		<div class="col-xs-5">
			<div class="col-xs-12">
				<label class="text-primary">محصولات</label>
			</div>
			<div class="col-xs-12" ng-repeat="prd in item.products">
				<span class="pull-right"> {{ prd.name }} </span>: <span class="text-warning"> {{ prd.cnt }} {{ prd.cnt > 1 ? 'تا': 'عدد'}} </span> 
			</div>
		</div>
		<div class="col-xs-1"> <span class="badge">SAL{{ item.id }}</span> </div>
	</li>
</ul>
