<div class="nai-navbar">
    <div class="title">
        <h2> <i class="icon icon-{{$app.icon}} nai-nav-icon nai-nav-title-icon"></i> پرینت فاکتور {{item.customer_code}}</h2>
        <p> آدرس‌ها قابل ویرایش هستند. </p>
    </div>
    <button class="nai-nav-icon left glyphicon glyphicon-chevron-left" ng-click="go('/sales/'+item.id)"></button>
    <button class="nai-nav-icon left glyphicon glyphicon-ok" ng-click="submit()"></button>
</div>
<div class="print">
    <header>
        <span class="logo">
			<img src="./images/logo.png"/>	
		</span>
        <span class="title">
			<span class="text"> فاکتور تحویل کالا </span>
        </span>
        <span class="codes">
			<!--div class="text"><span>کد اقتصادی: 411474936151</div-->
			<div class="text"><span>شماره فاکتور: {{item.code}}</div>
	</span>
    </header>
    <div class="col-xs-12"> <br> </div>
    <p class="col-xs-12"> در تاریخ <span>{{item.date.substr(0,4)}}</span>/<span>{{item.date.substr(5,2)}}</span>/<span>{{item.date.substr(8,2)}}</span> اقلام ذیل به بانک مهر اقتصاد شعبه <b>{{item.customer_name}} (کد: {{item.customer_code}})  (گروه: {{item.customer_grp_name}})</b>        تحویل گردید.</p>
    <div class="col-xs-12"> <br><br> </div>
    <table class="table col-xs-10 col-xs-offset-1">
        <tr>
            <td>ردیف</td>
            <td>شرح کالا</td>
            <td>کد قیمت کالا</td>
            <td>تعداد</td>
            <td>قیمت جزء</td>
            <td>قیمت کل</td>
            <td>9% مالیات ارزش افزوده</td>
        </tr>
        <tr ng-repeat="product in item.products">
            <td> {{$index + 1 }} </td>
            <td> {{product.name}} </td>
            <td> {{product.price_code}} </td>
            <td> {{product.cnt}} </td>
            <td> {{displayPrice( product.price_value) }} ریال </td>
            <td> {{displayPrice( product.price_value * product.cnt )}} ریال </td>
            <td> {{ displayPrice( ((product.price_value * product.cnt)/100)*9) }} ریال </td>
        </tr>
        <tr class="last-child">
            <td colspan="4" class="none"></td>
            <td> جمع کل </td>
            <td> {{ displayPrice( item.total_price_value ) }} ریال </td>
            <td> {{ displayPrice( ((item.total_price_value)/100)*9) }} ریال </td>
        <tr>
        <tr class="last-child">
            <td colspan="4" class="none noned"></td>
            <td colspan="2"> جمع کل به همراه 9% مالیات ارزش افزوده </td>
            <td> {{ displayPrice( item.total_price_value+(((item.total_price_value)/100)*9) ) }} ریال </td>
        <tr>
    </table>
    <p class="col-xs-10 col-xs-offset-1 text-center">
        همچنین مبلغ <span>{{displayPrice( (item.total_price_value / 100) * 15 )}}  ریال</span> به عنوان 15% حق دستمزد در فاکتور فوق منظور گردیده‌است.
    </p>
    <div class="col-xs-12"> <br> </div>
    <div class="col-xs-10 col-xs-offset-1 sign">
        <div class="col-xs-6">مهر و امضای تحویل گیرنده</div>
        <div class="col-xs-6">مهر و امضای تحویل دهنده</div>
    </div>

    <div class="col-xs-12"> <br><br><br><br></div>
    <div class="col-xs-12 address">
        <h5> شرکت الفبای چاپ نفیس ایرانیان مهر - (ثبت: ۱۲۸۲۴) </h5>
        <table class="table col-xs-10 col-xs-offset-1">
            <tr>
                <td>
                    کد اقتصادی: ۴۱۱۴۷۴۹۳۶۱۵۱
                </td>
                <td>
                    شناسه ملی: ۱۴۰۰۴۰۰۲۸۸۱
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    آدرس: قم، مجتمع ناشران، طبقه زیرهمکف، واحد ۱۰ب
                    <br>
                    تلفن: ۰۲۵۳۷۸۴۲۶۰۷  -  فکس: ۰۲۵۳۷۸۴۲۶۰۶  -  موبایل: ۰۹۱۲۳۵۳۴۷۲۱  -  کدپستی: ۳۷۱۵۶-۹۷۱۷۶
                </td>
            </tr>
        </table>

    </div>
</div>