@font-face {
	font-family: 'Shabnam';
	src: 	url("Shabnam.woff") format("woff");  /* IE6–8 */
	src: 	url("Shabnam.eot?#ie6") format("eot"),  /* IE6–8 */
			url("Shabnam.woff") format("woff"),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
			url("Shabnam.ttf") format("truetype");
	font-weight:normal;
	font-style:normal;
}