
html, body{
	font-family: Shabnam, Tahoma;
}
.nai-navbar .title{
	padding-top: 9px;
}
.nai-navbar .title icon{
	font-size: 11px;
}
.nai-navbar .title h2{
	font-size: 18px;
	margin: 0 0 3px 0;
}
.nai-navbar .title p{
	font-size: 11px;
}
.nai-navbar .nai-nav-title-icon{
    background-color: transparent;
    padding: 0;
    width: 39px;
    font-size: 15px;
}

.list-group:not(.main){
	line-height: 1.6;
	font-size: 12px;
}
.list-group:not(.main) label:not(.control-label):after{
	content: ': ';
}
.main .icon{
	font-size: 16px;
	vertical-align: middle;
	margin-left: 6px;
}
.main .text{
	font-size: 13px;
}
.main .icon, .main .text{
	color: #3C3C3C;
}

.twopx-border{
    border: solid 2px #eee;
}
.products-in-sale{
	/* background: red; */
}

.recent-files li{
	direction: ltr;
	text-align: left;
	
}
.recent-files li span{
	vertical-align: middle;
}


.print{
	background: #FFF;
	padding: 5px;
	font-size: 12px;
	min-width: 900px;
	overflow: auto;
}
.print header{
	height: 114px;
	display: block;
	overflow: hidden;
}
.print header > span{
	height: 100%;
	float: right;
}
.print header > span.logo{
	width: 20%;
	text-align: left;
}
.print header > span.title{
	width: 50%;
	margin-top: 80px;
	text-align: center;
}
.print header > span.codes{
	width: 25%;
	margin-top: 66px;
}
.print header > span.codes input{
	display: inline;
	width: auto;
	margin: -10px;
	padding-right: 12px;
	border: none;
}
.print input{
	border: none;
	width: auto;
}
.print .address{
	font-size: 12px;
}
.print .address input.address{
	margin: 0;
	width: 34%;
	text-align: center;
}
.print .address input.phone,
.print .address input.fax,
.print .address input.mobile{
	margin: 0;
	width: 20%;
	text-align: center;
}
.print header img{
	max-width: 158px;
	min-width: 100px;
	width: 75%;
}
.print header .codes{
	text-align: right;
}

.print table tr{
	border-right: solid 1px #000;
	border-bottom: solid 1px #000;
}
.print table tr td{
	border-top: solid 1px #000;
	border-left: solid 1px #000;
}
.print table tr.last-child{
	border-right: 0;
	border-bottom: 0;
}
.print table tr.last-child td:not(.none){
	border-bottom: solid 1px #000;
}
.print .sign{
	text-align: right;
	font-size: 15px;
}
